{% extends '::base.html.twig' %}

{% block content %}
<h2>Open Source News Letters</h2>
<a class="btn btn-primary btn-sm custom-btn" href="{{ path('newsletter_new') }}">
  NEW ENTRY
</a>
<table class="table table-condensed table-bordered table-striped table-custom">
  {% for entity in pagination %}
  <tr>
    <td>
      <a href="{{entity.link}}" target="_blank">
        {{entity.name}}
      </a>
    </td>
    <td>
      <a class="btn btn-sm btn-primary custom-btn" href="{{ path('newsletter_edit', { 'id': entity.id }) }}">EDIT</a>
      <a class="btn btn-sm btn-primary custom-btn" href="{{ path('newsletter_show', { 'id': entity.id }) }}">VIEW</a>
    </td>
  </tr>


{% endfor %}
</table>
<div class="navigation">
  {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
