{% extends '::base.html.twig' %}

{% block content -%}
<h2>ADD NEWS LETTER</h2>
{{ form_start(form)}}
<div class="form-group">
  {{ form_errors(form.name) }}
  {{ form_errors(form.link) }}
</div>
<div class="form-group">
  {{ form_label(form.name) }}
  {{ form_widget(form.name) }}
</div>

<div class="form-group">
  {{ form_label(form.link) }}
  {{ form_widget(form.link) }}
</div>

<div class="form-group">
  {{ form_widget(form.submit) }}
</div>

{{ form_end(form) }}

    <a class="btn btn-primary btn-sm custom-btn" href="{{ path('newsletter') }}">
      Back to the list
    </a>

{% endblock %}
