{% extends '::base.html.twig' %}

{% block content -%}
<h2>NEWS LETTER DETAILS</h2>

<table class="table table-bordered table-custom table-striped">

  <tr>
    <td>ID</td>
    <td>{{ entity.id }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ entity.name }}</td>
  </tr>
  <tr>
    <td>Link</td>
    <td>{{ entity.link }}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <a class="btn btn-primary btn-sm custom-btn" href="{{ path('newsletter') }}">
        BACK
      </a>
      <a class="btn btn-primary btn-sm custom-btn" href="{{ path('newsletter_edit', { 'id': entity.id }) }}">
        EDIT
      </a>
      {{form_start(delete_form, {attr: {'style': 'display: inline', 'onsubmit': 'return confirm("Are You Sure?")'}})}}
      {{form_widget(delete_form.submit, {attr: {'class': 'btn btn-primary btn-sm custom-btn'}})}}
      {{form_end(delete_form)}}
    </td>
  </tr>

</table>


{% endblock %}
