{% extends '::base.html.twig' %}

{% block main -%}
<h2>POST SUMMARY</h2>
<a href="{{ path('post_new') }}" class="btn btn-primary btn-sm custom-btn">
  NEW POST
</a>
<table class="table table-bordered table-striped">
  {% for entity in pagination %}
  <tr>
    <td>{{ entity.title }}</td>
    <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
    <td>
      <a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="btn btn-primary btn-sm custom-btn">VIEW</a>
      <a href="{{ path('post_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-sm custom-btn">EDIT</a>
    </td>
  </tr>
  {% endfor %}

</table>
<div class="navigation">
  {{ knp_pagination_render(pagination) }}
</div>



{% endblock %}
