{% extends '::base.html.twig' %}

{% block main -%}
<h2>NEW POST</h2>
<hr>
{{ form_start(form, {'attr': {'class': 'post-form'}}) }}
<div class="form-group">
  {{form_widget(form.title)}}
</div>
<div class="form-group">
  {{form_widget(form.preText)}}
</div>
<div class="form-group">
  {{form_widget(form.summary)}}
</div>
<div class="form-group">
  {{form_widget(form.postText)}}
</div>
<div class="form-group">
  {{form_widget(form.link)}}
</div>
<div class="form-group">
  {{form_widget(form.category)}}
</div>
<div class="form-group">
  {{form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-sm custom-btn'}, 'label': 'POST'})}}
  <a href="{{ path('post') }}" class="btn btn-primary btn-sm custom-btn">CANCEL</a>
</div>
{{ form_end(form)}}


{% endblock %}
