{% extends '::base.html.twig' %}
{% block title %}{{entity.title}} | OpenSourceFeed - Stories of Free/Open Source Technologies{% endblock %}
{% block content -%}
<div class="post-entry">
  <a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">
    <h2>{{entity.title}}</h2>
  </a>
  <div class="post-info">
    <span class="glyphicon glyphicon-folder-open"> {{entity.category }}</span>&nbsp;&nbsp;
    <span class="glyphicon glyphicon-time"> {{entity.date|date('Y-m-d') }} </span>&nbsp;&nbsp;
    <span class="glyphicon glyphicon-comment"> {{entity.comments | length}} Comments</span>&nbsp;&nbsp;
  </div>
  <div class="post-content">
    <p>
      {{ entity.preText }}
    </p>
    <blockquote>
      {{ entity.summary }}
    </blockquote>
    <p>
      Read complete article <a href="{{ entity.link}}" target="_blank">here</a>
    </p>
    <div>
      {{ entity.postText | raw }}
    </div>
  </div>
  <hr>
  <h3>Post A Comment</h3>
  {{form(comment_form)}}
  {% if entity.comments | length > 0 %}
  <hr>
  <h3>Comments</h3>

  <div class="comment-area">
    {% for comment in entity.comments | reverse %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <span class="glyphicon glyphicon-user"></span>
          <strong>{{comment.name}}</strong>
          <span class="text-muted"> commented on </span>
          {{comment.date|date('Y-m-d') }}
        </div>
        <div class="comment-message">
          {{comment.message}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <ul class="record_actions">
    <li>
      <a href="{{ path('post') }}">
        Back to the list
      </a>
    </li>
    <li>
      <a href="{{ path('post_edit', { 'id': entity.id }) }}">
        Edit
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
</div>
{% endblock %}
